input {
    font-family: Roboto,helvetica neue,sans-serif;
}
.btn {
    font-family: Roboto,helvetica neue,sans-serif;
    text-transform: none;
}
.btn i {
    line-height: 1rem;
    font-size: 1rem;
}

.query-builder {
    background-color: rgb(238, 238, 238);
}

.no-after::after{
    display:none !important;
}

/* Line 6 */
.query-builder .rules-group-container, .query-builder .rule-container, .query-builder .rule-placeholder {
    position: relative;
    margin: 4px 0;
    border-radius: 0;
    padding: 0;
    border: none;
    background: transparent;
}

/* Line 104*/
.query-builder .rules-list > *::before,
.query-builder .rules-list > *::after {
    content: '';
    position: absolute;
    left: -15px;
    width: 15px;
    height: calc(50% + 4px);
    border-color:#bdbdbd;
    border-width: 4px;
    border-style: solid;
}
.query-builder .rules-list > *::before {
    top: 0;
    border-width: 0 0 0 4px;
}
  
.query-builder .rules-list > *::after {
    top: 50%;
    border-width: 4px 0 0 4px;
}

.query-builder .rules-list > *:first-child::before {
    display: none;
}

.query-builder .rules-list > *:last-child::before {
    top: 0;
}

.query-builder .rules-list > *:last-child::after {
    display: block;
    top: 50%;
    border-width: 4px 0 0 4px;    
}
  
.query-builder .rules-list .rule-header {
    display: inline-block;
}

.query-builder .rules-list .rule-header button i.glyphicon {
    top: -3px;
}

.query-builder .rules-list .input-field {
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    text-align: left;
    position: relative;
    display: inline-block;
}

.query-builder .rules-list .input-field .select-wrapper {
    padding: 2px 8px;
}

.query-builder .rules-list .rule-value-container input.form-control,
.query-builder .rules-list .rule-value-container input.select2-search__field,
.query-builder .rules-list .input-field .select-wrapper input.select-dropdown {
    border-bottom: 1px solid rgba(255,255,255,.6);
    color: white;
    height: 2rem;
    line-height: 2.5rem;
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.query-builder .rules-list .rule-value-container input.form-control,
.query-builder .rules-list .rule-value-container input.select2-search__field,
.query-builder .rules-list .rule-value-container .input-field .select-wrapper input.select-dropdown {
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid rgba(0, 0, 0, .37);
    font-weight: normal;
}

.query-builder .rules-list .rule-filter-container.filter-fixed .input-field .select-wrapper input.select-dropdown {
    border-bottom: 0px;
    margin: 2px 0 3px 0;
    line-height: 100%;
}

.query-builder .rules-list .rule-filter-container.filter-fixed .input-field .select-wrapper .caret {
    display: none;
}

.query-builder .rules-list .rule-operator-container .input-field .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #01579b;
}

.query-builder .rules-list .rule-value-container input.form-control:focus,
.query-builder .rules-list .rule-value-container input.select2-search__field:focus,
.query-builder .rules-list .rule-value-container .input-field .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #0277bd;
    box-shadow: none;
}

.query-builder .rules-list .input-field .select-wrapper .caret {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(255, 255, 255, 0.67);
}

.query-builder .rules-list .rule-value-container .input-field .select-wrapper .caret {
    fill: rgba(0, 0, 0, 0.67);
}

.query-builder .rules-list .btn-remove {
    height: 20px;
    width: 20px;
}

.query-builder .rules-list .btn-remove i {
    line-height: 18px;
    font-weight: 400;
    font-size: 12px;
}

.query-builder .rules-list .input-field .select-wrapper .select-dropdown.dropdown-content li:hover {
    background-color: rgba(0, 0, 0, .04);
}

.query-builder .rules-list .input-field .select-wrapper .select-dropdown.dropdown-content li.selected {
    background-color: rgba(0, 0, 0, .12);
}  

.query-builder .rules-list .input-field .select-wrapper .dropdown-content li {
    min-height: 36px;
    height: 36px;
    line-height: 36px;
}

.query-builder .rules-list .input-field .select-wrapper .dropdown-content li > a,
.query-builder .rules-list .input-field .select-wrapper .dropdown-content li > span {
    font-size: inherit;
    color: rgba(0, 0, 0, .87);
    display: block;
    line-height: 36px;
    padding: 0 16px;
}

.query-builder .rules-list .input-field .select-wrapper .dropdown-content li.selected > a,
.query-builder .rules-list .input-field .select-wrapper .dropdown-content li.selected > span {
    color: #0288d1;
}

.query-builder .rules-list .input-field .select-wrapper .dropdown-content li > span > label {
    top: 1px;
    left: 0;
    height: 16px;
}

.query-builder .rules-list .input-field .select-wrapper .dropdown-content li > a > i {
    height: inherit;
    line-height: inherit;
    float: left;
    margin: 0 24px 0 0;
    width: 24px;
}
.query-builder .rules-list .rule-filter-container,
.query-builder .rules-list .rule-operator-container {
    padding-right: 5px;
    position: relative;
}

.query-builder .rules-list .rule-filter-container::after,
.query-builder .rules-list .rule-operator-container::after {
    content: "";
    display: block;
    height: 4px;
    width: 14px;
    background: #bdbdbd;
    position: absolute;
    right: -9px;
    top: 50%;
}

.query-builder .rule-value-container {
    border-left: none;
    padding-left: 0px;
}

.query-builder .rules-group-header {
    margin-top: 6px;
    margin-bottom: 0px;
}

.query-builder .rules-group-header .btn-group {
    padding-left: 15px;
    position: relative;
}

.query-builder .rules-group-header .btn-group::before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    width: 15px;
    height: calc(50% + 20px);
    border-color:#bdbdbd;
    border-width: 0 0 4px 4px;
    border-style: solid;
}

.query-builder .rules-group-header.no-body .btn-group::before {
    display: none;
}

icon.xlarge {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
}

div.flex-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

div.flex-layout .add-filter-label {
    margin-left: 4px;
}

div.flex-layout icon.add-icon{
    fill: #43a047 !important;
}

.input-field {
    margin-top: 3px;
    margin-bottom: 3px;
}

.mat-button .mat-button-focus-overlay,.mat-icon-button .mat-button-focus-overlay{opacity:0}.mat-button:hover .mat-button-focus-overlay,.mat-stroked-button:hover .mat-button-focus-overlay{opacity:.04}@media (hover:none){.mat-button:hover .mat-button-focus-overlay,.mat-stroked-button:hover .mat-button-focus-overlay{opacity:0}}.mat-button,.mat-flat-button,.mat-icon-button,.mat-stroked-button{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:none;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible}.mat-button::-moz-focus-inner,.mat-flat-button::-moz-focus-inner,.mat-icon-button::-moz-focus-inner,.mat-stroked-button::-moz-focus-inner{border:0}.mat-button[disabled],.mat-flat-button[disabled],.mat-icon-button[disabled],.mat-stroked-button[disabled]{cursor:default}.mat-button.cdk-keyboard-focused .mat-button-focus-overlay,.mat-button.cdk-program-focused .mat-button-focus-overlay,.mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay,.mat-flat-button.cdk-program-focused .mat-button-focus-overlay,.mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay,.mat-icon-button.cdk-program-focused .mat-button-focus-overlay,.mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay,.mat-stroked-button.cdk-program-focused .mat-button-focus-overlay{opacity:.12}.mat-button::-moz-focus-inner,.mat-flat-button::-moz-focus-inner,.mat-icon-button::-moz-focus-inner,.mat-stroked-button::-moz-focus-inner{border:0}.mat-raised-button{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:none;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible;transform:translate3d(0,0,0);transition:background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)}.mat-raised-button::-moz-focus-inner{border:0}.mat-raised-button[disabled]{cursor:default}.mat-raised-button.cdk-keyboard-focused .mat-button-focus-overlay,.mat-raised-button.cdk-program-focused .mat-button-focus-overlay{opacity:.12}.mat-raised-button::-moz-focus-inner{border:0}._mat-animation-noopable.mat-raised-button{transition:none;animation:none}.mat-stroked-button{border:1px solid currentColor;padding:0 15px;line-height:34px}.mat-stroked-button .mat-button-focus-overlay,.mat-stroked-button .mat-button-ripple.mat-ripple{top:-1px;left:-1px;right:-1px;bottom:-1px}.mat-fab{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:none;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible;transform:translate3d(0,0,0);transition:background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);min-width:0;border-radius:50%;width:56px;height:56px;padding:0;flex-shrink:0}.mat-fab::-moz-focus-inner{border:0}.mat-fab[disabled]{cursor:default}.mat-fab.cdk-keyboard-focused .mat-button-focus-overlay,.mat-fab.cdk-program-focused .mat-button-focus-overlay{opacity:.12}.mat-fab::-moz-focus-inner{border:0}._mat-animation-noopable.mat-fab{transition:none;animation:none}.mat-fab .mat-button-wrapper{padding:16px 0;display:inline-block;line-height:24px}.mat-mini-fab{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:none;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible;transform:translate3d(0,0,0);transition:background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);min-width:0;border-radius:50%;width:40px;height:40px;padding:0;flex-shrink:0}.mat-mini-fab::-moz-focus-inner{border:0}.mat-mini-fab[disabled]{cursor:default}.mat-mini-fab.cdk-keyboard-focused .mat-button-focus-overlay,.mat-mini-fab.cdk-program-focused .mat-button-focus-overlay{opacity:.12}.mat-mini-fab::-moz-focus-inner{border:0}._mat-animation-noopable.mat-mini-fab{transition:none;animation:none}.mat-mini-fab .mat-button-wrapper{padding:8px 0;display:inline-block;line-height:24px}.mat-icon-button{padding:0;min-width:0;width:40px;height:40px;flex-shrink:0;line-height:40px;border-radius:50%}.mat-icon-button .mat-icon,.mat-icon-button i{line-height:24px}.mat-button-focus-overlay,.mat-button-ripple.mat-ripple{top:0;left:0;right:0;bottom:0;position:absolute;pointer-events:none;border-radius:inherit}.mat-button-ripple.mat-ripple:not(:empty){transform:translateZ(0)}.mat-button-focus-overlay{opacity:0;transition:opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1)}._mat-animation-noopable .mat-button-focus-overlay{transition:none}@media (-ms-high-contrast:active){.mat-button-focus-overlay{background-color:#fff}}@media (-ms-high-contrast:black-on-white){.mat-button-focus-overlay{background-color:#000}}.mat-button-ripple-round{border-radius:50%;z-index:1}.mat-button .mat-button-wrapper>*,.mat-fab .mat-button-wrapper>*,.mat-flat-button .mat-button-wrapper>*,.mat-icon-button .mat-button-wrapper>*,.mat-mini-fab .mat-button-wrapper>*,.mat-raised-button .mat-button-wrapper>*,.mat-stroked-button .mat-button-wrapper>*{vertical-align:middle}.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{display:block;font-size:inherit;width:2.5em;height:2.5em}@media (-ms-high-contrast:active){.mat-button,.mat-fab,.mat-flat-button,.mat-icon-button,.mat-mini-fab,.mat-raised-button{outline:solid 1px}}

icon.dark {
    fill: rgba(0, 0, 0, .5);
}

.rule-header {
    vertical-align: middle;
}

.rule-header .btn-group {
    margin: 0;
}

.rule-header .mat-icon-button {
    box-sizing: border-box;
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    max-width: 100%;
    height: 32px!important;
    width: 32px!important;
    line-height: 32px!important;
    margin-left: 10px;
    background: transparent;
    background-size: 0;
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;
}

.rule-header .mat-icon-button:focus {
    background-color: rgb(221, 221, 221);
    background-size: 32px 32px;
}

.empty-content {
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
}

.rules-list .input-field .select-wrapper ul {
    width: 100% !important;
    left: 0 !important;
    border-radius: 3px;
    top: -3px !important;
}

.select-wrapper {
    display: flex;
}

.input-seperator {
    margin: 0 10px;
    line-height: 38px;
}

.rules-list .rule-value-container .input-field > select {
    display: block;
    width: 200px;
    height: inherit;
}